@    using BlazorServerAppBanco.ModelsDTO;
@    using BlazorServerAppBanco.Services;
    using BlazorServerAppBanco.ModelsDTO.Users;

@page "/UpdateUser"
@inject ILogger<SecUserDTO> logger;
@inject ISecUserService secUserService;
@inject NavigationManager navigationManager;
@inject IJSRuntime JSRuntime;

<h3>UpdateUser</h3>

@code {

}
